@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');

body{
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

/* HEADER */
nav{
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0 5%;
  font-family: 'Shadows Into Light', cursive;
}
nav .logo h1{
    margin: 0;
    padding: 0;
    font-size: 2.5em;
}
nav .logo h1 .logo-home{
    color: #bfbfbf;
    text-decoration: none;
}
nav .burger-toggle{
  display: flex;
  align-items: center;
  padding: 0 5%;
}
nav .burger-toggle svg{
  cursor: pointer;
  width: 32px;
}

.burger{
  position: absolute;
  left:-600px;
  height: 100vh;
  background: black;
  opacity: 0.8;
  width: 300px;
  transition: 0.3s ease-in-out;
  transform: translateX(300px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.burger ul li{
    padding-right: 24px;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    padding: 16px 22px;
    font-size: 1.2em;
    text-align: right;
}
.burger ul li a{
    color:#f2f2f2;
    text-decoration: none;
}
.burger .login-btn{
    margin-bottom: 38px;
    width: 66%;
    align-self: end;
    margin-right: 22px;
    background: #c4b45e;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 900;
}
.burger .login-btn .login-svg{
  width: 22px;
  padding-left: 12px;
}